@media(max-width: 400px) {
    
    p {
        padding: 20px 0;
    }

    nav {
        padding: 10px 0px;
        font-size: 0.85em;
    }

    aside ul {
        columns: 1;
    }

    abbr {
        text-decoration: none;
    }
}