@charset "UTF-8";

@font-face {
    font-family: "font-escrita";
    src: url(../font/HANDMADE-STARS.otf) format(opentype);
    font-weight: 900;
}

@font-face {
    font-family: "font-titulo";
    src: url(../font/Arista-Pro-Alternate-Bold-trial.ttf) format(truetype);
}

:root {
    --font-principal: "font-titulo", sans-serif;
    --font-secundaria: "font-escrita", sans-serif;
}

.fundo {
    max-height: 98vh;
    max-width: 36vw;
}

body {
    background-color: rgb(26, 26, 26);
}

p {
    padding: 2vh 0px;
}

* {
    margin: 0;
}


header {
    display: block;
    background-color: black;
    text-align: center;
    color: white;
    min-height: 260px;
}

header h1 {
    padding: 60px 0px 20px 0px;
    font-size: 9vw;
    font-family: var(--font-principal);
}

header p a {
    text-decoration: none;
    color: white;
    font-family: var(--font-principal);
}

header p a:hover {
    text-decoration: underline;
    color: rgb(92, 92, 238);

}

main {
    font-family: var(--font-secundaria);
    font-size: 2.8vw;
    background-color: white
}

main .fundo-branco {
    background-color: white;
    padding: 10px;
    margin: 20px;
}

main .fundo-transparente {
    background-color: rgba(0, 0, 0, 0.212);
    color: white;
}

main #fundo-1 {
    background-attachment: fixed;
    background-image: url("../imagens/background001.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0px;
    position: relative;
}

main #fundo-1 .paragrafo-tansparente {
    max-height: 95vh;
    max-width: 38vw;
    padding-left: 5px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.582);
}

main #fundo-2 {
    background-attachment: fixed;
    background-image: url("../imagens/background002.jpg");
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0px;
    position: relative;
}

main #fundo-2 .paragrafo-tansparente {
    max-height: 95vh;
    max-width: 38vw;
    padding-left: 5px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.582);
}

article {
    position: relative;
    padding-top: 20px;
}

footer {
    padding: 10px 0px;
    background-color: rgb(29, 29, 29);
    color: white;
    text-align: center;
    font-size: 1.5em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(92, 92, 238);
}