@media(max-width: 620px) {
    section#img01 {
        background-image: url("../imagens/background001-alternativa.jpg");
        background-position: right center;
    }

    section#img02 {
        background-image: url("../imagens/background002-alternativa.jpg");
    }
}